MISTRAL_API_KEY=your-api-key-here
LANSMITH_API_KEY=your-api-key-here
LANSMITH_TRACING=true
LANSMITH_PROJECT=Assistant-Dev
STRAPI_API_URL=https://localhost:1337/api
STRAPI_AUTH_TOKEN=your-strapi-auth-token-here
CLIENT_SECRET=secret-change-me-here
